<div name="compForm" method="post">
	<div class="btn-group" id="toolBar1">
		<div class="btn custom" id="letterSpacing"></div>
		<div class="btn custom" id="fontName"></div>
		<div class="btn custom" id="lineHeight"></div>
		<div class="btn custom" id="fontSize"></div>
		<div class="btn custom" id="fontColor"></div>
		<div class="btn custom" id="colorPicker"></div>
		<div class="btn custom" id="bgColor"></div>
	</div>
	<div class="clearDiv"/>
	<div id="toolBar2">
		<div class="btn" id="underline"></div>
		<div id="alignBtns" class="custom"></div>
		<div id="vertAlignBtns" class="custom"></div>
	</div>
	<div class="clearDiv"/>
		<div id="outerDiv">
			<div id="textBoxHolder"></div>
			<svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2"></svg>
		</div>
	</div>
	<div id="renderBtns" class="btn-group">
		<div class="btn" id="editBtn"></div>
		<div class="btn" id="flattenDom"></div>
	</div>
<div>