<select id="bgColorSelect">
	<option class="heading" selected>- bkgd -</option>
	<option value="red">Red</option>
	<option value="blue">Blue</option>
	<option value="green">Green</option>
	<option value="black">Black</option>
	<option value="yellow">Yellow</option>
	<option value="pink">Pink</option>
	<option value="purple">Purple</option>
	<option value="aquamarine">Aqua</option>
	<option value="white">White</option>
	<option value="gray">Gray</option>
	<option value="#990000">Dark Red</option>				
</select>